@include breakpoint($movil) { //20em 320px

	.site-header {
		@include backImage($bgcolor, $headerimg2);
		height: 100%;
		width: 100%;
		&.shfront {
			height: 100vh;
		}
		.site-header-wrapper {
			// @include clearfix();
			.custom-header {
				// BRANDING
				.site-branding {
					// LOGO
					.custom-logo-link {
						display: block;
						padding: 0.5em 0px;
						img {
						 	display: block;
							height: 50px;
							width: auto;
							margin: 0px auto;
						} //img
					} //.custom-logo-link
					// TEXT
					.site-branding-text {
						display: block;
						.site-title {
							display: none;
						} //.site-title
						.site-description {
							font-size: 14px;
							font-size: 0.875rem;
							font-weight: $normal;
							font-variant: small-caps;
							text-align: center;
							color: rgba($cream, 0.7);
						} //.site-description
					} //.site-branding-text
				} //.site-branding
			} //.custom-header
			// slider front
			#slider-front {
				// border: 2px solid MediumSlateBlue;
				clear: both;
				float: none;
				padding: 3em 2em 2em;
				height: 70vh;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;

				.slides {
					li {
						text-align: center;
						h1 {
							text-transform: uppercase;
							font-size: 28	px;
							font-size: 1.75rem;
							font-weight: $light;
							color: $cream;
							@include single-text-shadow(0px, 0px, 1px, true, $grey);
						} //h1
						h2 {
							padding: 0px;
							color: $cream;
							font-size: 18px;
							font-size: 1.125rem;
							text-transform: lowercase;
							font-variant: small-caps;
						} //h2
						.slider-btn {
							display: inline-block;
							padding: 5px 10px;
							margin-bottom: 0px;
							margin-top: 2em;
							font-size: 18px;
							font-size: 1.125rem;
							line-height: 140%;
							text-align: center;
							text-decoration: none;
							white-space: nowrap;
							vertical-align: middle;
							cursor: pointer;
							border: 1px solid transparent;
							border-radius: 4px;
							color: $carbon;
							background-color: $cream;
							background-size: 18px 18px;
							min-width: 28px;
							min-height: 28px;
							background-position: center center;
							background-repeat: no-repeat;
							-webkit-user-select: none;
						  -moz-user-select: none;
						  -ms-user-select: none;
						  -o-user-select: none;
						  user-select: none;
						  &:hover {
						  	background: $black;
						  	color: $cream;
						  } //&:hover
						} //.slider-btn
					} //li
				} //.slides
			} //#slider-front
		} //.site-header-wrapper
	} //.site-header

} //breakpoint($movil) 20em 320px


@include breakpoint($tablet) { //30em 480px

	.site-header {

		.site-header-wrapper {

		// BRANDING
			.site-branding {
				// LOGO
				.custom-logo-link {
					img {
						height: 60px;
					} //img
				} //.custom-logo-link
				// TEXT
				.site-branding-text {
					display: block;
					.site-title {

					} //.site-title
					.site-description {
						font-size: 15px;
						font-size: 0.9375rem;
					} //.site-description
				} //.site-branding-text
			} //.site-branding

			// CUSTOM HEADER
				.custom-header {
					// BRANDING
					.site-branding {
						// LOGO
						.custom-logo-link {

							img {

							} //img
						} //.custom-logo-link
						// TEXT
						.site-branding-text {

							.site-title {

							} //.site-title
							.site-description {

							} //.site-description
						} //.site-branding-text
					} //.site-branding
				} //.custom-header

				// SLIDER FRONT
				#slider-front {

					.slides {
						li {

							h1 {
								font-size: 32px;
								font-size: 2rem;
							} //h1
							h2 {
								font-size: 22px;
								font-size: 1.375rem;
							} //h2
							.slider-btn {

							  &:hover {

							  } //&:hover
							} //.slider-btn
						} //li
					} //.slides
				} //#slider-front

		} //.site-header-wrapper
	} //.site-header

} //breakpoint($tablet) 30em 480px


@include breakpoint($laptop) { //48em 768px

	// SITE BRANDING

	// Original styles
	.has-header-image.pleiadesmoon-front-page .site-branding,
	.has-header-video.pleiadesmoon-front-page .site-branding,
	.has-header-image.home.blog .site-branding,
	.has-header-video.home.blog .site-branding {
		bottom: 0;
		display: block;
		left: 0;
		height: auto;
		padding-top: 0;
		position: absolute;
		width: 100%;
	}
	.has-header-image.pleiadesmoon-front-page .custom-header,
	.has-header-video.pleiadesmoon-front-page .custom-header,
	.has-header-image.home.blog .custom-header,
	.has-header-video.home.blog .custom-header {
		display: block;
		height: auto;
	}
	.custom-header-media {
		height: 165px;
		position: relative;
	}
	.pleiadesmoon-front-page.has-header-image .custom-header-media,
	.pleiadesmoon-front-page.has-header-video .custom-header-media,
	.home.blog.has-header-image .custom-header-media,
	.home.blog.has-header-video .custom-header-media {
		height: 0;
		position: relative;
	}
	.has-header-image:not(.pleiadesmoon-front-page):not(.home) .custom-header-media,
	.has-header-video:not(.pleiadesmoon-front-page):not(.home) .custom-header-media {
		bottom: 0;
		height: auto;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	.custom-logo-link {
		padding-right: 2em;
	}
	.custom-logo-link img,
	body.home.title-tagline-hidden.has-header-image .custom-logo-link img,
	body.home.title-tagline-hidden.has-header-video .custom-logo-link img {
		max-width: 350px;
	}
	.title-tagline-hidden.home.has-header-image .custom-logo-link img,
	.title-tagline-hidden.home.has-header-video .custom-logo-link img {
		max-height: 200px;
	}


	// HEADER CUSTOM STYLES
	.site-header-wrapper {
		@include container;

		.custom-header {
			@include span(4);
			overflow: hidden;
			margin-bottom: 0px !important;
			.site-branding {
				.wrap {
					padding: 0.5em;
				}
				margin-bottom: 0px !important;
				padding: 0px;
				.site-title {
					display: none;
				} //.site-title
			} //.site-branding
		} //.custom-header

		.navigation-top {
			@include span(8 at 5);
			display: block;
			margin: 1em 0em 0px 0px;
			padding: 0px 0.5em 0px 0px;
			position: relative;
			z-index: 3;
			// font-size: 14px;
			// font-size: 0.875rem;
		} //.navigation-top
	} //.site-header-wrapper

	.site-header {

		.site-header-wrapper {
			@include container();
			// BRANDING
			.site-branding {
				// LOGO
				.custom-logo-link {
					img {
						width: 90%;
						height: auto;
					} //img
				} //.custom-logo-link
				// TEXT
				.site-branding-text {
					display: block;
					.site-title {

					} //.site-title
					.site-description {
						font-size: 15px;
						font-size: 0.9375rem;
					} //.site-description
				} //.site-branding-text
			} //.site-branding
			// SLIDER FRONT
			#slider-front {

				.slides {
					li {

						h1 {
							font-size: 36px;
							font-size: 2.25rem;
						} //h1
						h2 {
							font-size: 26px;
							font-size: 1.625rem;
						} //h2
						.slider-btn {

						  &:hover {

						  } //&:hover
						} //.slider-btn
					} //li
				} //.slides
			} //#slider-front
		} //.site-header-wrapper
	} //.site-header


} //breakpoint($laptop) 48em 768px


@include breakpoint($desktop) { //67em 1072px

	// SITE HEADER
	.site-header {
		.site-header-wrapper {
			@include container();
			// BRANDING
			.site-branding {
				// LOGO
				.custom-logo-link {
					img {

					} //img
				} //.custom-logo-link
				// TEXT
				.site-branding-text {
					display: block;
					.site-title {

					} //.site-title
					.site-description {

					} //.site-description
				} //.site-branding-text
			} //.site-branding
			// SLIDER FRONT
			#slider-front {

				.slides {
					li {

						h1 {
							font-size: 40px;
							font-size: 2.5rem;
						} //h1
						h2 {
							font-size: 30px;
							font-size: 1.875rem;
						} //h2
						.slider-btn {

						  &:hover {

						  } //&:hover
						} //.slider-btn
					} //li
				} //.slides
			} //#slider-front
		} //.site-header-wrapper
	} //.site-header
} // breakpoint($desktop) 67em 1072px


@include breakpoint($largedesk) { //79em 1264px

} //breakpoint($largedesk) 79em 1264px















