@include breakpoint($movil) { //20em 320px

	.main-navigation {
		.menu-toggle {
			color: $snow;
			font-weight: $normal;
			padding: 0.75em 1em;
			.icon {
				font-size: 1em;
			}
		} //.menu-toggle
	} //.main-navigation

} //breakpoint($movil) 20em 320px


@include breakpoint($tablet) { //30em 480px

} //breakpoint($tablet) 30em 480px


@include breakpoint($laptop) { //48em 768px
	/* Navigation */
	.navigation-top {

	}
	.navigation-top .wrap {
		max-width: 1000px;
		padding: 0.75em 1em;
	}
	.navigation-top nav {
		//margin-left: -1.25em;
	}
	.site-navigation-fixed.navigation-top {
		background-color: rgba($carbon, 0.9);
		margin-top: 0px;
		bottom: auto;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		width: 100%;
		z-index: 7;
	}
	.admin-bar .site-navigation-fixed.navigation-top {
		top: 32px;
	}
	/* Main Navigation */
	.js .menu-toggle,
	.js .dropdown-toggle {
		display: none;
	}
	.main-navigation {
		width: auto;
	}
	.js .main-navigation ul,
	.js .main-navigation ul ul,
	.js .main-navigation > div > ul {
		display: block;
	}
	.main-navigation ul {
		background: transparent;
		padding: 0;
	}
	.main-navigation > div > ul {
		border: 0;
		margin-bottom: 0;
		padding: 0;
		display: flex !important;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;

	}
	.main-navigation ul li {
		border: 0;
		border-bottom: 5px solid transparent;
		&:hover,
		&:focus {
			border-bottom: 5px solid $lime;
		}
		&:last-child {

		}
	}
	.main-navigation li li {
		display: block;
	}
	.main-navigation a {
		padding: 0.75em 1em;
		color: $snow;
		font-weight: $normal;
		font-size: 14px;
		font-size: 0.875rem;
		text-transform: uppercase;
		text-transform: center;
		&:hover,
		&:focus {
			color: $snow;
			outline: none;
		}
	}
	.main-navigation ul ul {
		background: $carbon;
		border: none;
		left: -999em;
		padding: 0;
		padding-bottom: 1px;
		position: absolute;
		top: 100%;
		z-index: 99999;
	}
	.main-navigation ul li.menu-item-has-children:before,
	.main-navigation ul li.menu-item-has-children:after,
	.main-navigation ul li.page_item_has_children:before,
	.main-navigation ul li.page_item_has_children:after {
		border-style: solid;
		border-width: 0px 6px 6px;
		content: "";
		display: none;
		height: 0;
		position: absolute;
		right: 10px;
		bottom: -1px;
		width: 0;
		color: rgba($snow, 0.5);
		z-index: 100000;
	}
	.main-navigation ul li.menu-item-has-children.focus:before,
	.main-navigation ul li.menu-item-has-children:hover:before,
	.main-navigation ul li.menu-item-has-children.focus:after,
	.main-navigation ul li.menu-item-has-children:hover:after,
	.main-navigation ul li.page_item_has_children.focus:before,
	.main-navigation ul li.page_item_has_children:hover:before,
	.main-navigation ul li.page_item_has_children.focus:after,
	.main-navigation ul li.page_item_has_children:hover:after {
		display: block;
	}
	.main-navigation ul li.menu-item-has-children:before,
	.main-navigation ul li.page_item_has_children:before {
		border-color: transparent transparent #bbb;
		bottom: 0;
	}
	.main-navigation ul li.menu-item-has-children:after,
	.main-navigation ul li.page_item_has_children:after {
		border-color: transparent transparent #fff;
	}
	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: 100%;
		right: auto;
	}
	.main-navigation ul ul a {
		padding: 0.75em 1.25em;
		width: 16em;
	}
	.main-navigation li li {
		-webkit-transition: background-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out;
		border-bottom: 1px solid transparent;
	}
	.main-navigation li li:hover,
	.main-navigation li li.focus {
		background: $carbon;
		border-bottom: 1px solid $lime;
	}
	.main-navigation li li a {
		-webkit-transition: color 0.3s ease-in-out;
		transition: color 0.3s ease-in-out;
	}
	.main-navigation li li.focus > a,
	.main-navigation li li:focus > a,
	.main-navigation li li:hover > a,
	.main-navigation li li a:hover,
	.main-navigation li li a:focus,
	.main-navigation li li.current_page_item a:hover,
	.main-navigation li li.current-menu-item a:hover,
	.main-navigation li li.current_page_item a:focus,
	.main-navigation li li.current-menu-item a:focus {
		color: #fff;
	}
	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		left: 0px;
		right: auto;
	}
	.main-navigation .menu-item-has-children > a > .icon,
	.main-navigation .page_item_has_children > a > .icon {
		display: inline;
		left: 5px;
		position: relative;
		top: -1px;
	}
	.main-navigation ul ul .menu-item-has-children > a > .icon,
	.main-navigation ul ul .page_item_has_children > a > .icon {
		margin-top: -9px;
		left: auto;
		position: absolute;
		right: 1em;
		top: 50%;
		-webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
		-ms-transform: rotate(-90deg); /* IE 9 */
		transform: rotate(-90deg);
	}
	.main-navigation ul ul ul {
		left: -999em;
		margin-top: -1px;
		top: 0;
	}
	.main-navigation ul ul li.menu-item-has-children.focus:before,
	.main-navigation ul ul li.menu-item-has-children:hover:before,
	.main-navigation ul ul li.menu-item-has-children.focus:after,
	.main-navigation ul ul li.menu-item-has-children:hover:after,
	.main-navigation ul ul li.page_item_has_children.focus:before,
	.main-navigation ul ul li.page_item_has_children:hover:before,
	.main-navigation ul ul li.page_item_has_children.focus:after,
	.main-navigation ul ul li.page_item_has_children:hover:after {
		display: none;
	}
	.site-header .site-navigation-fixed .menu-scroll-down {
		display: none;
	}

	// SMALL ADJUSTMENTS
	.navigation-top .current-menu-item,
	.navigation-top .current_page_item {
		border-bottom: 5px solid $midgrey;
		cursor: default;
		color: $snow;
		&:hover,
		&:focus {
			border-bottom: 5px solid $midgrey;
			outline: none;
			cursor: default;
		} //&:hover, &:focus
		a {
			color: $snow;
			&:hover,
			&:focus {
				cursor: default;
			} //&:hover, &:focus
		} //a

	} //.navigation-top .current-menu-item

	.navigation-top .current-menu-parent {
		border-bottom: 5px solid $midgrey;
		outline: none;
		cursor: default;
	}
	.sub-menu {
		.current-menu-item {
			border-bottom: 1px solid $midgrey;
			&:hover,
			&:focus {
				border-bottom: 1px solid $midgrey;
			}
			a {
				color: $midgrey;
				&:hover,
				&:focus {
					cursor: default;
					color: $midgrey !important;
				} //&:hover, &:focus
			}
		} //li
	} //.sub-menu




} //breakpoint($laptop) 48em 768px


@include breakpoint($desktop) { //67em 1072px
	/* Navigation */
	.navigation-top .wrap {
		padding: 0.75em 2em;
	}
	.navigation-top nav {
		margin-left: 0;
	}
} // breakpoint($desktop) 67em 1072px


@include breakpoint($largedesk) { //79em 1264px

} //breakpoint($largedesk) 79em 1264px