@include breakpoint($movil) { //20em 320px

} //breakpoint($movil) 20em 320px

@include breakpoint($tablet) { //30em 480px
	body,
	button,
	input,
	select,
	textarea {
		font-size: 18px;
		font-size: 1.125rem;
	}
	h1 {
		font-size: 30px;
		font-size: 1.875rem;
	}
	h2,
	.home.blog .entry-title,
	.page .panel-content .recent-posts .entry-title {
		font-size: 26px;
		font-size: 1.625rem;
	}
	h3 {
		font-size: 22px;
		font-size: 1.375rem;
	}
	h4 {
		font-size: 18px;
		font-size: 1.125rem;
	}
	h5 {
		font-size: 13px;
		font-size: 0.8125rem;
	}
	h6 {
		font-size: 16px;
		font-size: 1rem;
	}
	.entry-content blockquote.alignleft,
	.entry-content blockquote.alignright {
		font-size: 14px;
		font-size: 0.875rem;
	}
	/* Fix image alignment */
	img.alignleft {
		float: left;
		margin-right: 1.5em;
	}
	img.alignright {
		float: right;
		margin-left: 1.5em;
	}
} //breakpoint($tablet) 30em 480px

@include breakpoint($laptop) { //48em 768px
	body,
	button,
	input,
	select,
	textarea {
		font-size: 16px;
		font-size: 1rem;
		line-height: 1.5;
	}
	.entry-content blockquote.alignleft,
	.entry-content blockquote.alignright {
		font-size: 13px;
		font-size: 0.8125rem;
	}
} //breakpoint($laptop) 48em 768px

@include breakpoint($desktop) { //67em 1072px

} // breakpoint($desktop) 67em 1072px

@include breakpoint($largedesk) { //79em 1264px

} //breakpoint($largedesk) 79em 1264px