// GRID (SUSY)
$susy1: (
	columns: 24,
	container: 1073px,
	gutters: 1,
	gutter-position: inside
);
@include layout($susy1);

@include breakpoint($movil) { //20em 320px
	.content-area {
		background-color: $snow;
	}
	.blog {
		.content-area {
			background-color: $white;
		}
	}
	// PROD/SERVICES MAIN
	.prod-services-main {
		background-color: darken($carbon, 10%);
		padding: 30px 0px 0px 0px;
		margin-top: 0px;
		// @include background(linear-gradient(to bottom, $black, darken($lime, 40%)));
		// PROD/SERVICES
		.prod-services {
			@include container();
			@include clearfix();
			padding: 1em;
			h2 {
				color: $snow;
				text-align: center;
				font-weight: $normal;
				font-size: 30px;
				font-size:1.875rem;
				text-transform: uppercase;
			}
			p {
				text-align: center;
				color: $snow;
			} //p
			ul {
				margin-top: 10px;
				padding: 0px 0px 1em;
				display: block;
				li {
					width: 100%;
					margin: 0px 0px 1em;
					padding: 0px 1em 0px;
					overflow: hidden;
					position: relative;
					background-color: $carbon;
					border: 1px dotted $snow;
					@include border-radius(5px);
					// SERV ICON
					.serv-icon {
						clear: both;
						display: block;
						margin: 1em auto 0px;
						width: 100px;
						padding: 10px 5px 5px 15px;
						img {
							// border: 1px solid $white;
						} //img
					} //.serv-icon
					// SERV TEXT
					.serv-text {
						margin: 20px 0px 0px;
						padding: 0px 0px 10px 0px;
						line-height: 1.2;
						h3 {
							color: $cream;
							text-transform: uppercase;
							text-align: center;
							font-family: $copy;
							font-size: 25px;
							font-size: 1.5rem;
							font-weight: $light;
							a {
								color: $cream;
								text-decoration: none;
								padding: 0px 5px;
								@include single-transition();
								&:hover {
									border-bottom: 1px dotted $cream;
								} //&:hover
							} //a
						} //h3
						p {
							text-align: center;
							color: $snow;
							line-height: 1.2;
							font-size: 15px;
							font-size: 0.9375rem;
							font-weight: $light;
							margin: 0px;
						} //p
						.link-more {
							// position: absolute;
							display: block;
							width: auto;
							margin: 2.5em auto 1.5em;
							vertical-align: center;
							a {
								background-color: $black;
								color: $cream;
								padding: 1em 2em;
								@include border-radius(4px);
								@include single-transition(all, 0.2s, false, false);
								&:hover {
									color: $carbon;
									background-color: $snow;
								}
							} //a
						} //.link-more
					} //.serv-text
				} //li
			} //ul
		} //.prod-services
	} //.prod-services-main

	// CREDIBILITY
	.fp-credibility {
		width: 100%;
		background-color: $white;
		display: flex;
		align-items: center;
		.fp-credibility-wrap {
			@include container();
			padding: 4em 1em 2em;
			h2 {
				text-align: center;
				font-family: $title;
				font-size: 28px;
				font-size: 1.75rem;
				font-weight: $semibold;
				text-transform: uppercase;
				color: $lighterblue;
			}
			p {
				text-align: center;
				font-size: 20px;
				font-size: 1.25rem;
				font-weight: $light;
				line-height: 1.4;
				.bold {
					font-weight: $bold;
				}
			}
		} //.fp-credibility-wrap
	} //.fp-credibility

	// BLOG NOTICIAS / ARTÍCULOS
	.fp-blog {
		@include backImage($carbon, $proyectoimg);
		padding: 0px;
		h2 {
			text-align: center;
			color: $cream;
			font-weight: $light;
			font-size: 28px;
			font-size: 1.75rem;
			text-transform: uppercase;
		}
		.fp-blog-wrap {
			@include container();
			padding: 2em 1em;
			.blog-list { //ul
				li {
					display: block;
					margin-bottom: 2em;
					border-bottom: 1px dotted $snow;
					img {
						width: 100%;
						height: 200px;
					} //img
					h3 {
						text-align: center;
						color: $cream;
						text-transform: uppercase;
						font-size: 18px;
						font-size: 1.125rem;
						padding: 0px;
						margin: 0px;
						height: 90px;
					} //h3
					p {
						color: $white;
						font-weight: $light;
						line-height: 1.3;
						font-size: 14px;
						font-size: 0.875;
						height: 50px;
					} //p
					.link-more {
						// position: absolute;
						display: block;
						width: 130px;
						margin: 3em auto 2em;
						vertical-align: center;
						a {
							background-color: $black;
							color: $cream;
							padding: 1em 2em;
							@include border-radius(4px);
							@include single-transition(all, 0.2s, false, false);
							&:hover {
								color: $carbon;
								background-color: $snow;
							}
						} //a
					} //.link-more
				} //li
			} //.blog-list
		} //.fp-blog-wrap
	}//.fp-blog

} //breakpoint($movil) 20em 320px

@include breakpoint($tablet) { //30em 480px
	// ORIGINAL STYLES
	.panel-content .wrap {
		padding-bottom: 2em;
		padding-top: 3.5em;
	}
	.page-one-column .panel-content .wrap {
		max-width: 740px;
	}
	.panel-content .entry-header {
		margin-bottom: 4.5em;
	}
	.panel-content .recent-posts .entry-header {
		margin-bottom: 0;
	}

	// PROD/SERVICES MAIN
	.prod-services-main {

		// PROD/SERVICES
		.prod-services {

			h2 {

			}
			p {

			} //p
			ul {
				// display: flex;
				padding-bottom: 0px;
				li {
					width: 80%;
					height: 350px;
					margin: 0px auto 2em;
					// SERV ICON
					.serv-icon {
						padding-bottom: 0px;
						img {

						} //img
					} //.serv-icon
					// SERV TEXT
					.serv-text {
						margin-top: 5px;
						padding-bottom: 20px;
						h3 {

							a {

								&:hover {

								} //&:hover
							} //a
						} //h3
						p {

						} //p
						.link-more {
							position: absolute;
							margin-left: auto;
							margin-right: auto;
							bottom: 0;
							vertical-align: middle;
							left: 0;
							right: 0;
							a {

								&:hover {

								}
							} //a
						} //.read-more
					} //.serv-text
				} //li
			} //ul
		} //.prod-services
	} //.prod-services-main

	// BLOG NOTICIAS / ARTÍCULOS
	.fp-blog {
		.fp-blog-wrap {
			h2 {

			}
			.blog-list {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				align-items: flex-end;
				li {
					// flex-grow: 1;
					// flex-basis: 0;
					width: 45%;
					margin-right: 1em;
					&:last-child {
						margin-right: 0px;
					}
					img {

					} //img
					h3 {
				    font-size: 16px;
				    font-size: 1rem;
				    padding: 0px;
				    margin: 0px;
				    height: 80px;
					} //h3
					p {

					} //p

					.link-more {
						// position: absolute;
						display: block;
						width: 130px;
						margin: 4em auto 1em;
						vertical-align: center;
						a {
							background-color: $black;
							color: $cream;
							padding: 1em 2em;
							@include border-radius(4px);
							@include single-transition(all, 0.2s, false, false);
							&:hover {
								color: $carbon;
								background-color: $snow;
							}
						} //a
					} //.link-more
				} //li
			} //.blog-list
		} //.fp-blog-wrap
	}//.fp-blog

} //breakpoint($tablet) 30em 480px

@include breakpoint($laptop) { //48em 768px
	// Front Page ORIGINAL styles
	.pleiadesmoon-front-page.has-header-image .site-branding,
	.pleiadesmoon-front-page.has-header-video .site-branding,
	.home.blog.has-header-image .site-branding,
	.home.blog.has-header-video .site-branding {
		margin-bottom: 70px;
	}
	.pleiadesmoon-front-page.has-header-image .custom-header-media,
	.pleiadesmoon-front-page.has-header-video .custom-header-media,
	.home.blog.has-header-image .custom-header-media,
	.home.blog.has-header-video .custom-header-media {
		height: 1200px;
		height: 100vh;
		max-height: 100%;
		overflow: hidden;
	}
	.pleiadesmoon-front-page.has-header-image .custom-header-media:before,
	.pleiadesmoon-front-page.has-header-video .custom-header-media:before,
	.home.blog.has-header-image .custom-header-media:before,
	.home.blog.has-header-video .custom-header-media:before {
		height: 33%;
	}
	.admin-bar.pleiadesmoon-front-page.has-header-image .custom-header-media,
	.admin-bar.pleiadesmoon-front-page.has-header-video .custom-header-media,
	.admin-bar.home.blog.has-header-image .custom-header-media,
	.admin-bar.home.blog.has-header-video .custom-header-media {
		height: calc(100vh - 32px);
	}
	.panel-content .wrap {
		padding-bottom: 4.5em;
		padding-top: 6em;
	}
	.panel-image {
		height: 100vh;
		max-height: 1200px;
	}
	/* With panel images 100% of the screen height, we're going to fix the background image where supported to create a parallax-like effect. */
	.background-fixed .panel-image {
		background-attachment: fixed;
	}
	.page-two-column .panel-content .entry-header {
		float: left;
		width: 36%;
	}
	.page-two-column .panel-content .entry-content {
		float: right;
		width: 58%;
	}
	/* Front Page - Recent Posts */
	.page-two-column .panel-content .recent-posts {
		clear: right;
		float: right;
		width: 58%;
	}
	.panel-content .recent-posts article {
		margin-bottom: 4em;
	}
	.panel-content .recent-posts .entry-header,
	.page-two-column #primary .panel-content .recent-posts .entry-header,
	.panel-content .recent-posts .entry-content,
	.page-two-column #primary .panel-content .recent-posts .entry-content {
		float: none;
		width: 100%;
	}
	.panel-content .recent-posts .entry-header {
		margin-bottom: 1.5em;
	}
	.page .panel-content .recent-posts .entry-title {
		font-size: 26px;
		font-size: 1.625rem;
	}

	// PROD/SERVICES MAIN
	.prod-services-main {
		// PROD/SERVICES
		.prod-services {

			h2 {
				font-size: 34px;
				font-size: 2.125rem;
				text-transform: uppercase;
				font-weight: $light;
			}
			p {

			} //p
			ul {
				// @include container();
				display: flex;
				justify-content: space-around;
				align-items:flex-end;
				flex-wrap: wrap;
				li {
					width: 350px;
					height: 400px;
					margin-bottom: 2em;
					// SERV ICON
					.serv-icon {

						img {

						} //img
					} //.serv-icon
					// SERV TEXT
					.serv-text {
						margin: 20px 0px 0px;
						h3 {
							height: 60px;
							a {

								&:hover {

								} //&:hover
							} //a
						} //h3
						p {
							margin-bottom: 1em;
						} //p
						.link-more {
							position: absolute;
							margin-left: auto;
							margin-right: auto;
							bottom: 1em;
							vertical-align: middle;
							left: 0;
							right: 0;
							a {

								&:hover {

								}
							} //a
						} //.read-more
					} //.serv-text
				} //li
			} //ul
		} //.prod-services
	} //.prod-services-main


	// CREDIBILITY
	.fp-credibility {

		.fp-credibility-wrap {
			@include container();
			max-width: 750px;
			h2 {
				font-size: 34px;
				font-size: 2.125rem;
			}
			p {
				font-size: 24px;
				font-size: 1.5rem;
				.bold {

				}
			}
		} //.fp-credibility-wrap
	} //.fp-credibility

	// BLOG NOTICIAS / ARTÍCULOS
	.fp-blog {
		.fp-blog-wrap {
			h2 {
				font-size: 34px;
				font-size: 2.125rem;
			}
			.blog-list {
				display: flex;
				flex-wrap: no-wrap;
				justify-content: space-around;
				align-items: flex-end;
				li {
					flex-grow: 1;
					flex-basis: 0;
					margin-right: 1em;
					&:last-child {
						margin-right: 0px;
					}
					img {

					} //img
					h3 {
				    font-size: 16px;
				    font-size: 1rem;
				    padding: 0px;
				    margin: 0px;
				    height: 80px;
					} //h3
					p {

					} //p

					.link-more {
						// position: absolute;
						display: block;
						width: 130px;
						margin: 4em auto 1em;
						vertical-align: center;
						a {
							background-color: $black;
							color: $cream;
							padding: 1em 2em;
							@include border-radius(4px);
							@include single-transition(all, 0.2s, false, false);
							&:hover {
								color: $carbon;
								background-color: $snow;
							}
						} //a
					} //.link-more
				} //li
			} //.blog-list
		} //.fp-blog-wrap
	}//.fp-blog



} //breakpoint($laptop) 48em 768px

@include breakpoint($desktop) { //67em 1072px

	// PROD/SERVICES MAIN
	.prod-services-main {
		// PROD/SERVICES
		.prod-services {

			h2 {

			}
			p {

			} //p
			ul {
				// @include container();
				display: flex;
				justify-content: space-around;
				align-items:flex-end;
				flex-wrap: wrap;
				li {
					width: 250px;

					// SERV ICON
					.serv-icon {

						img {

						} //img
					} //.serv-icon
					// SERV TEXT
					.serv-text {

						h3 {
							font-style: 22px;
							font-size: 1.375rem;
							a {

								&:hover {

								} //&:hover
							} //a
						} //h3
						p {

						} //p
						.link-more {

							a {

								&:hover {

								}
							} //a
						} //.read-more
					} //.serv-text
				} //li
			} //ul
		} //.prod-services
	} //.prod-services-main

	// // NOTICIAS / ARTÍCULOS
	.fp-blog {
		.fp-blog-wrap {
			h2 {

			}
			.blog-list { //ul

				li {

					&:last-child {

					}
					img {

					} //img
					h3 {
				    height: 60px;
					} //h3
					p {

					} //p

					.link-more {

						a {

							&:hover {

							}
						} //a
					} //.link-more
				} //li
			} //.blog-list
		} //.fp-blog-wrap
	}//.fp-blog


} // breakpoint($desktop) 67em 1072px

@include breakpoint($largedesk) { //79em 1264px

} //breakpoint($largedesk) 79em 1264px