// MAIN COLORS

// Black to White
$black: #000000;
$carbon: rgb(51, 51, 51);
$darkgrey: rgb(77, 77, 77);
$midgrey: rgb(102, 102, 102);
$lightgrey: rgb(128, 128, 128);
$grey: rgb(153, 153, 153);
$darksilver: rgb(179, 179, 179);
$midsilver: rgb(204, 204, 204);
$lightsilver: rgb(230, 230, 230);
$snow: rgb(242, 242, 242);
$white: #FFFFFF;

// THEME COLORS
$pink: rgb(204, 51, 102);
$red: rgb(153, 0, 51);
$maroon: rgb(89, 0, 30);
$olive: #A58F3A;
$purple: rgb(27, 16, 25);
$darkpurple: rgb(37, 35, 68);
$darkblue: rgb(6, 9, 40);
$darkerblue: rgb(16, 14, 38);